<div class="login-container">
  <div class="logo">
    <img class="eagles" src="/assets/img/aguia.png" alt="logssso" />
    <h1>Eagles</h1>
  </div>
  <div class="page">
    <form class="formLogin" (ngSubmit)="onLogin()">
      <h1>Login</h1>
      <p>Digite os seus dados de acesso no campo abaixo.</p>
      <label for="nome">Nome</label>
      <input
        type="text"
        id="nome"
        [(ngModel)]="name"
        name="nome"
        required
        placeholder="Digite seu nome"
        autofocus="true"
      />

      <label for="password">Senha</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
        placeholder="Digite sua senha"
      />

      <a href="/">Esqueci minha senha</a>
      <input type="submit" value="Acessar" class="btn" />
    </form>
  </div>
</div>
